
.efbl_feed_wraper.efbl_skin_10340 .efbl-grid-skin .efbl-row.e-outer {
	grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
}

		
.efbl_feed_wraper.efbl_skin_10340 .efbl_feeds_holder.efbl_feeds_carousel .owl-nav {
	display: flex;
}

.efbl_feed_wraper.efbl_skin_10340 .efbl_feeds_holder.efbl_feeds_carousel .owl-dots {
	display: block;
}

		
		
		
		
		
.efbl_feed_wraper.efbl_skin_10340 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_header_title {
		}

.efbl_feed_wraper.efbl_skin_10340 .efbl_header .efbl_header_inner_wrap .efbl_header_img img {
	border-radius: 0;
}

.efbl_feed_wraper.efbl_skin_10340 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_cat,
.efbl_feed_wraper.efbl_skin_10340 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_followers {
		}

.efbl_feed_wraper.efbl_skin_10340 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_bio {
		}

		
		.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper {
		}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-caption .efbl-feed-description, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 a, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 span {
	
		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-post-header {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-post-header .efbl-profile-image {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-post-header h2 {

		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-post-header span {

		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-feed-description, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl_link_text {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-reactions-box {

					display: flex;

							
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions span {

		
}


.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions .efbl_popup_likes_main {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions .efbl-popup-comments-icon-wrapper {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-commnets, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-comments-list {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-action-btn {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10340 .efbl-d-columns-wrapper .efbl-comments-list .efbl-comment-wrap {

		
}
		
.efbl_feed_wraper.efbl_skin_10341 .efbl-grid-skin .efbl-row.e-outer {
	grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
}

		
.efbl_feed_wraper.efbl_skin_10341 .efbl_feeds_holder.efbl_feeds_carousel .owl-nav {
	display: flex;
}

.efbl_feed_wraper.efbl_skin_10341 .efbl_feeds_holder.efbl_feeds_carousel .owl-dots {
	display: block;
}

		
		
		
		
		
.efbl_feed_wraper.efbl_skin_10341 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_header_title {
		}

.efbl_feed_wraper.efbl_skin_10341 .efbl_header .efbl_header_inner_wrap .efbl_header_img img {
	border-radius: 0;
}

.efbl_feed_wraper.efbl_skin_10341 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_cat,
.efbl_feed_wraper.efbl_skin_10341 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_followers {
		}

.efbl_feed_wraper.efbl_skin_10341 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_bio {
		}

		
		.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper {
		}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-caption .efbl-feed-description, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 a, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 span {
	
		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-post-header {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-post-header .efbl-profile-image {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-post-header h2 {

		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-post-header span {

		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-feed-description, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl_link_text {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-reactions-box {

					display: flex;

							
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions span {

		
}


.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions .efbl_popup_likes_main {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions .efbl-popup-comments-icon-wrapper {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-commnets, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-comments-list {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-action-btn {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10341 .efbl-d-columns-wrapper .efbl-comments-list .efbl-comment-wrap {

		
}
		
.efbl_feed_wraper.efbl_skin_10342 .efbl-grid-skin .efbl-row.e-outer {
	grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
}

		
.efbl_feed_wraper.efbl_skin_10342 .efbl_feeds_holder.efbl_feeds_carousel .owl-nav {
	display: flex;
}

.efbl_feed_wraper.efbl_skin_10342 .efbl_feeds_holder.efbl_feeds_carousel .owl-dots {
	display: block;
}

		
		
		
		
		
.efbl_feed_wraper.efbl_skin_10342 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_header_title {
		}

.efbl_feed_wraper.efbl_skin_10342 .efbl_header .efbl_header_inner_wrap .efbl_header_img img {
	border-radius: 0;
}

.efbl_feed_wraper.efbl_skin_10342 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_cat,
.efbl_feed_wraper.efbl_skin_10342 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_followers {
		}

.efbl_feed_wraper.efbl_skin_10342 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_bio {
		}

		
		.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper {
		}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-caption .efbl-feed-description, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 a, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 span {
	
		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-post-header {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-post-header .efbl-profile-image {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-post-header h2 {

		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-post-header span {

		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-feed-description, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl_link_text {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-reactions-box {

					display: flex;

							
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions span {

		
}


.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions .efbl_popup_likes_main {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions .efbl-popup-comments-icon-wrapper {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-commnets, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-comments-list {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-action-btn {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10342 .efbl-d-columns-wrapper .efbl-comments-list .efbl-comment-wrap {

		
}
		
.efbl_feed_wraper.efbl_skin_10343 .efbl-grid-skin .efbl-row.e-outer {
	grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
}

		
.efbl_feed_wraper.efbl_skin_10343 .efbl_feeds_holder.efbl_feeds_carousel .owl-nav {
	display: flex;
}

.efbl_feed_wraper.efbl_skin_10343 .efbl_feeds_holder.efbl_feeds_carousel .owl-dots {
	display: block;
}

		
		
		
		
		
.efbl_feed_wraper.efbl_skin_10343 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_header_title {
		}

.efbl_feed_wraper.efbl_skin_10343 .efbl_header .efbl_header_inner_wrap .efbl_header_img img {
	border-radius: 0;
}

.efbl_feed_wraper.efbl_skin_10343 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_cat,
.efbl_feed_wraper.efbl_skin_10343 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_header_meta .efbl_followers {
		}

.efbl_feed_wraper.efbl_skin_10343 .efbl_header .efbl_header_inner_wrap .efbl_header_content .efbl_bio {
		}

		
		.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper {
		}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-caption .efbl-feed-description, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 a, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 span {
	
		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-post-header {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-post-header .efbl-profile-image {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-post-header h2 {

		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-post-header span {

		
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-feed-description, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl_link_text {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-reactions-box {

					display: flex;

							
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions span {

		
}


.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions .efbl_popup_likes_main {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-reactions-box .efbl-reactions .efbl-popup-comments-icon-wrapper {

					display: flex;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-commnets, .efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-comments-list {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-action-btn {

					display: block;

			
}

.efbl_feed_popup_container .efbl-post-detail.efbl-popup-skin-10343 .efbl-d-columns-wrapper .efbl-comments-list .efbl-comment-wrap {

		
}
		